/*.select2-container .select2-selection--single {
    height: 34px!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px!important;
}*/

.drag-handle {
  color: lightgray;
  cursor: grab;
  cursor: -webkit-grab;
}

.sortable-ghost {
  opacity: 0.4;
}


.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}